<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game</title>
    <link rel="stylesheet" href="main-menu.css">
</head>
<body>
    <div class="container">
        <h1>Menu</h1>
        <div id="user-info">
            <img src="baza.png" alt="User Avatar" id="user-avatar">
            <span id="user-name">Undefined</span>
            <a href="/logout" id="logout-link">Logout</a>
        </div>
        <ul>
            <li><a href="#">Play</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
    <audio controls autoplay>
        <source src="Hate.mp3" type="audio/mpeg">
    </audio>
    <script src="main-menu.js"></script>
    <script src="user-info.js"></script>
</body>
</html>
