<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="table.css" />
    <title>Game board</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <div class="game-window">
        <div class="table">

            <div class="table-field">
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
                <!-- More card placeholders for the table -->
                <!-- ... -->
            </div>

        </div>
        <div class="hand">
            <!-- Cards in hand will be dynamically added here using JavaScript -->
        </div>
    </div>

    <script src="table-logic.js"></script>
    <!-- <script src="client-cards.js"></script> -->
</body>
</html>
