<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="table.css" />
    <title>Game board</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="game-window">
        <div class="table">

            <div class="battlefield">
                <div class="head">
                    <div class="enemy-head"></div>
                    <div class="enemy-hp">20</div>
                </div>

                <div class="enemy-field">
                    <div class="enemy-card"></div>
                    <div class="enemy-card"></div>
                    <div class="enemy-card"></div>
                    <div class="enemy-card"></div>
                    <div class="enemy-card"></div>
                    <div class="enemy-card"></div>
                </div>

                <div class="my-field">
                    <div class="my-card"></div>
                    <div class="my-card"></div>
                    <div class="my-card"></div>
                    <div class="my-card"></div>
                    <div class="my-card"></div>
                    <div class="my-card"></div>
                </div>

                <div class="head">
                    <div class="my-head"></div>
                    <div class="my-hp">20</div>
                </div>
            </div>
            
            <div class="turn-ender">
                <div class="timer"></div>
                <div class="end-button"></div>
            </div>
        </div>
        <div class="hand"></div>
    </div>

    <script src="table-logic.js"></script>
</body>

</html>